html {
  height: 100%;
}

.hoverable .hoverableinfo {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: small;
  
  position: absolute;
  z-index: 1;
}

.hoverable:hover .hoverableinfo {
  visibility: visible;
}

.square {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 3px solid grey;
  border-radius: 3px;
  position: center;
}

#game {
  background-color: rgb(237, 183, 72);
}

/* creating components on the left of the split screen */
.left {
  justify-content : center;
  align-items : center;
  display: flex;
  height: 100%;
  left: 0;
  margin-bottom: 0;
  margin-right:0;
}

/* creating components on the right of the split screen */
.right {
  justify-content: center;
  align-items : center;
  display: flex;
  height: 100%;
  right: 0;
}

/* creating components in the center of their parent */
.centered {
  position: center;
  /* top: 25%;
  left: 25%; */
  /* transform: translate(-25%, -25%); */
}

/* formatting the title text */
.title {
  color: black;
  text-align: center;
}

.message {
  color: white;
  text-align: center;
  top: 20;
}


/* setting default format for the page */
.custom-body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  background-color: rgb(118, 200, 243);   
}

/* setting a background to the login container */
.custom-container {
  background-color: white;
  opacity: 1;
  padding: 16px;
}

/* bootstrap fixes */
.no-margin{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}